.box{
  overflow: hidden;
}
.nav{
  margin-top: 100px;
  margin-left: 50px;
  float: left;
  width: 200px;
  height: 800px;
  text-align: center;
  /*background: green;*/
}
a{
  text-decoration: none;
}
.segmentation{
  float: left;
  width: 1px;
  height: 800px;
  background: gray;
  margin-left: 100px;
  margin-top: 100px;
}
.content{
  float: left;
  width: 800px;
  min-width: 400px;
  height: 1000px;
  /*background: lime;*/
  margin-left: 150px;
}
.image{
  width: 800px;
  height: 200px;
  background: url('1.jpg')
}
