

.content-box .cont-list{
    margin-bottom: 38px;
}
.content-box .cont-list span{
    display: inline-block;
    height: 34px;
    font-size: 16px;
    line-height: 34px;
    margin-right:60px;
    /*background: red;*/
}
.content-box p{
    font-size: 14px;
    line-height: 27px;
    /*background: green;*/
}
.page-list{
    overflow: hidden;
    padding: 3px 4px;
    background: #e2e2e2;
}
.page-list li{
    float: left;
    margin-right: 5px;
    /*line-height: 30px;*/
}
.page-list li  a{
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;

}
.page-list .active a{
    background: #666666;
    color: white;
}













